.lateral-space {
  width: 10%;
  background-color: aqua;
  height: 100%;
}
.button-container {
  display: flex;
  height: 100%;
  background-color: brown;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.button-false {
  margin: 20px 0px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;

  transition: 0.3s ease-in-out;
}
.button-false:hover {
  background-color: aqua;
  cursor: pointer;
}
.title-button {
  font-size: 20px;
}
.links-buttons {
  color: white;
  text-decoration: none;
}
